* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 107rem;
  padding: 0 4rem;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #8e8e8e #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 8px;
  width: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #8e8e8e;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #878787;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #8e8e8e;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;
  position: relative;
}
@media (max-width: 900px) {
  .home {
    height: auto;
    padding: 11rem 0;
  }
}

.home-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  position: relative;
}
@media (max-width: 900px) {
  .home-main {
    flex-direction: column-reverse;
    text-align: center;
    height: auto;
    gap: 3rem;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65rem;
  gap: 10rem;
  position: relative;
}
@media (max-width: 900px) {
  .content {
    flex-direction: column;
    text-align: center;
    height: auto;
    gap: 3rem;
  }
}
@media (min-width: 1600px) {
  .content {
    margin-top: 6rem;
  }
}
@media (min-width: 1900px) {
  .content {
    margin-top: 10rem;
  }
}

.home-text {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  position: relative;
}
.home-text h1 {
  font-size: 5.5rem;
  line-height: 1.2;
  color: #2d2e32;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@media (max-width: 500px) {
  .home-text h1 {
    font-size: 4rem;
  }
}
.home-text p {
  font-size: 1.8rem;
  font-weight: 500;
  color: #555555;
  font-family: "Mulish", sans-serif;
  line-height: 1.6;
}
@media (max-width: 900px) {
  .home-text p {
    margin-bottom: 5rem;
  }
}
.home-text span {
  display: flex;
  gap: 1.3rem;
  margin: 2.5rem 0;
  cursor: pointer;
}
.home-text span a {
  font-size: 3rem;
  color: #2d2e32;
}
@media (max-width: 900px) {
  .home-text span {
    justify-content: center;
    margin-top: -2rem;
    margin-bottom: 4rem;
    gap: 1.6rem;
  }
}
.home-text span svg {
  transition: all 0.2s;
}
.home-text span svg:hover {
  color: #147efb;
}
.home-text img {
  position: absolute;
  width: 6rem;
  height: 6rem;
  top: 8.7rem;
  right: 13rem;
}
@media (max-width: 900px) {
  .home-text img {
    right: 3rem;
  }
}
@media (max-width: 500px) {
  .home-text img {
    top: 6.4rem;
    right: 4rem;
    width: 4.5rem;
    height: 4.5rem;
  }
}
@media (max-width: 400px) {
  .home-text img {
    right: 3rem;
  }
}
@media (max-width: 380px) {
  .home-text img {
    right: 3rem;
  }
}
@media (max-width: 375px) {
  .home-text img {
    right: 1.7rem;
  }
}

.home-img {
  background-image: url("../../../../images/ftperfil-removebg-preview.png");
  width: 35rem;
  height: 35rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 3px solid #2d2e32;
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  position: relative;
  transition: all 1s ease-in-out;
}
@media (max-width: 500px) {
  .home-img {
    width: 28rem;
    height: 28rem;
  }
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.skills {
  display: flex;
  font-size: 1.7rem;
  color: #767676;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 900px) {
  .skills {
    position: initial;
    flex-direction: column;
  }
}
.skills p {
  margin-right: 7rem;
  padding-right: 2rem;
  border-right: 2px solid rgba(45, 46, 50, 0.5);
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  color: #2d2e32;
}
@media (max-width: 900px) {
  .skills p {
    margin-right: 0;
    margin-bottom: 3rem;
    border-bottom: 2px solid rgba(45, 46, 50, 0.5);
    border-right: none;
    padding-right: 0;
    padding-bottom: 1rem;
  }
}
.skills ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}
@media (max-width: 900px) {
  .skills ul {
    justify-content: center;
  }
}
.skills ul li {
  width: 6.5rem;
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  cursor: pointer;
}
.skills ul li img {
  width: 3.4rem;
  height: 3.4rem;
}

.react-icon {
  margin-top: 0.5rem;
}/*# sourceMappingURL=home.css.map */