@import "../../global/boilerplate";

.about {
  background-color: $background-color;
  padding: 15rem 0;

  @media (max-width: 1020px) {
    padding: 8rem 0;
  }
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  
  gap: 1.5rem;

  @media (max-width: 1020px) {
    grid-template-columns: 1fr;
    text-align: center;
    
  }
}

.text-side {
  padding-right: 1.5rem;
  @media (max-width: 1020px) {
    max-width: 54rem;
    margin: 7rem auto auto auto;
  }

  @media (max-width: 400px) {
    padding-right: 0;
  }

  span {
    text-decoration: underline $header-color;
  }

  h3 {
    font-size: $text-size;
    color: $header-color;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  h4 {
    font-size: $headings-size;
    font-family: $title-font;
    line-height: 1.4;
    margin-bottom: 2rem;
    color: $black-shade;
    text-align: center;
  }

  p {
    font-size: $text-size;
    font-family: $text-font;
    color: $text-color;
    font-weight: 500;
    line-height: 2;
    text-align: justify;
    //height: fit-content;
  }
}

.techstack-side {
  position: relative;
  height: 100%;
  width: fit-content;
  margin: 0 auto;

  h3 {
    font-size: $text-size;
    color: $header-color;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .stack-space {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin-top: 25px;
    border-radius: 1.7rem 1.7rem 0 0 ;
    background-color: lighten($color: $header-color, $amount: 15%);
    

    span {
      font-size: $text-size;
      font-weight: bold;
    }
  }

  .skill-stack {
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    border-radius: 0 0 1.7rem 1.7rem;
    height: fit-content;// or 100

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 15px;

      li {
        box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
        border-radius: 1.7rem;
        padding: 10px;
        text-align: center;
        margin: 10px 5px;

        a {
          width: 100%;
          font-size: $text-size;
          text-decoration: none;
          color: $black-shade;

        }

        &:hover {
          a {
            color: $header-color;
          }
          box-shadow: 5px 5px 10px $header-color;
          cursor: pointer;
        }

        @media (max-width: 880px) {
          margin: 2rem 0 3rem 0;
          
        }
        
      }

      @media (max-width: 880px) {
        justify-content: flex-start;
        height: fit-content;
      }
    }

    
  }

  @media (max-width: 1020px) {
    margin: auto 10rem;
    
    
  }

  @media (max-width: 880px) {
    width: fit-content;
    height: fit-content;
    margin: auto;
    
  }
}
