@import "../../global/boilerplate";

.language-switcher {
  display: flex;
  align-items: center;

  .dropdown {
    position: relative;
    
    .dropdown-menu {
      position: absolute;
      left: 0;
      top: calc(100% + .25rem);
      background-color: white;
      padding: .75rem;
      border-radius: .25rem;
      box-shadow: 0 2px;
    }

  }
  
}

.hide-on-mobile {
  @media (max-width: 900px) {
    display: none;
  }
}

