@import "../../global/boilerplate";

.language-switcher {
  display: flex;
  align-items: center;

  span {
    font-size: 1.2rem;
    margin-right: 12px;

    @media (max-width: 900px) {
      display: none;
    }
  }

  .dropdown {

    height: 35px;
    width: 45px;
    border: 1px solid black;
    box-shadow: 3px 3px 5px $black-shade;

    

    img {
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 900px) {
    justify-content: center;

    .dropdown {
      height: 40px;
      width: 50px;
    }
  }
}
  


.hide-on-mobile {
  @media (max-width: 900px) {
    display: none;
  }
}

